@font-face {
    font-family: kings;
    src: url(kings.ttf);
  }
  

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #202020;
    overflow: hidden;
    cursor: none;
}

.header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "";
    color: white;
    letter-spacing: 5px;
    z-index: 2;
}

.container {
    position: absolute;
    width: 200%;
    height: 200vh;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
}

.block {
    width: 400px;
    height: 500px;
    background: grey;
    margin: 1em;
    filter: grayscale(1);
    opacity: 0.4;
    transition: 1s;
}

.block:hover {
    filter: grayscale(0);
    opacity: 1;
}

img{
    image-rendering: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    display: none;
    cursor: pointer;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox img {
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
    padding: 4px;
    cursor: auto;
    object-fit: contain;
  }
  

  .cursor {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
    
  }
  
  .cursor.active {
    opacity: 1;
    transform: scale(0);
  }
  
  .cursor.active::before {
    opacity: 1;
  }
  
  .cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
  }
  
  .cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
  }