@font-face {
  font-family: kings;
  src: url(kings.ttf);
}


html,
body {
  margin: 0;
  padding: 0;
  background: #161616;
  color: white;
  overflow-x: hidden;
  cursor: none;
  font-family: "kings";
}


footer p {
  text-align: center;
  
  color: grey;
  margin: 60px auto;
}


::-webkit-scrollbar {
  width: 0;
}

.progressbar {
  position: fixed;
  top: 0;
  left: 85%;
  background: rgba(255, 255, 255, 0.4);
  width: 1px;
  z-index: 1;
}

.navigation-wrapper ul {
  margin-top: 240px;
  margin-left: 100px;
  margin-bottom: 200px;
  list-style: none;
  position: absolute;
}

.navigation-item {
  display: block;
  user-select: none;
  margin: 120px 0;
}

a {
  
  font-size: 100px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  letter-spacing: 5px;
}

span {
  position: relative;
  display: block;
}

.navigation-item span:before {
  width: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.navigation-item span:hover:before {
  width: 100%;
}

.project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}

.project-preview {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 0px;
  height: 400px;
  background: url(img-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 900px) {
  .progressbar,
  .project-preview-wrapper {
    display: none;
  }

  a {
    font-size: 24px;
  }
}



.cursor {
  position: absolute;
  background: white;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  
}

.cursor.active {
  opacity: 1;
  transform: scale(0);
}

.cursor.active::before {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
}

.cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}